.testimonial-canvas {
    display: flex;
    padding: 20px;
    text-align: center;
  }
  
  .testimonial-canvas h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .testimonials {
    margin: auto;
    display: flex;
    padding: 5px 0px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    width: 70%;
  }
  
  .each-testimonial {
    background-color: rgba(245, 130, 72, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 295px;
    transition: transform 0.3s ease-in-out;
    padding: 15px;
    margin: 10px;
  }
  
  .each-testimonial:hover {
    transform: scale(1.1);
  }
  
  .reviewed-product {
    background-color: rgba(250, 243, 235, 1);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
  }
  
  .reviewer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .round-user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
  }
  
  .reviewer span {
    color: #fff;
    font-size: 0.7rem;
    font-weight: bold;
  }
  
  .star {
    width: 20px;
    height: 20px;
  }
  
  .review {
    text-align: center;
    max-width: 90%;
    margin: auto;
  }
  
  .review p {
    font-size: 0.8rem;
    color: #fff;
    overflow: hidden;
  }
  
  .testimonial-canvas button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .testimonial-canvas button img {
    width: 30px;
    height: 30px;
  }
  
  @media (max-width: 768px) {
    .testimonial-canvas h2 {
      font-size: 1.5em;
    }
  
    .each-testimonial {
      min-width: 250px;
    }
  
    .reviewed-product {
      height: 150px;
    }
  
    .review {
      font-size: 0.9rem;
    }
  } 